version: "3.9"

services:
  backend:
    build:
      context: ./cashswap-backend
    container_name: cashswap-backend
    ports:
      - "4000:4000"
    environment:
      - PORT=4000
      - USERS_API_BASE=https://hujj01zp2a.execute-api.us-west-1.amazonaws.com
      - REQUESTS_API_BASE=https://7eb33vpxkj.execute-api.us-west-1.amazonaws.com

  frontend:
    build:
      context: ./cashswap-frontend
      args:
        REACT_APP_API_BASE_URL: http://backend-service:4000
    container_name: cashswap-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
